*~
*.buildinfo
*.changes
*.ddeb
*.deb
*.dsc
*.spec
*.tar.gz
*.tar.xz
API_VERSION
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build_debs.sh
build_tarball.sh
changelog
compile
control
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
